input[type="radio"] {
    display: none;
}

.hearts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.heart {
    height: 100px;
    background-size: 100px;
    cursor: pointer;
    font-size: 30px;
}