@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.HomePosts{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;


}

.HomePosts:hover {
  opacity: 0.7;

}
.images{
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 200px;
}

img {
  height: 250px;
  width: 200px;
}
.HomePosts p{
  display:inline-block;
  color: #FF78D2;
}
.nav {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    background-color: pink;
    height: 30px;
    position: fixed;
    top: 0px;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, pink, #FF78D2);
}

.nav p {
  display: inline-block;
  font-family: 'Gruppo', cursive;
  color:black;
  margin-top: 35px;
  font-size: 25px;
  
}

.nav p:hover {
  color:white;
  text-decoration: underline;
}

.nav h1 {
  display: inline-block;
  color:black
}

.nav h1:hover {
  color:white;
}

.showpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showpage h1 {
  margin-top: 100px;
}

.Header h1{
  font-family: 'Sofia', 'cursive';
}

.postBtn {
  background-color: #FF78D2;
  height: 25px;
  border-radius: 10%;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.collectName {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

}
.btnOne {
  background-color: #FF78D2;
  border: 0 solid;
  text-transform: uppercase;
  border-radius: 5px;
 color:white;
 font-weight: bold;
 padding:10px;
 width:80px;
 text-align: center;
 font-size: 15px;
 height: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 letter-spacing: 1px;
 font-family: 'Gruppo', cursive;
 cursor:grab;


}
.btnOne:hover {
  border: 1px solid;
  letter-spacing: 5px;
  transition: letter-spacing 1s;
  transition-timing-function: ease-in;

  
}


.btnTwo {
  background-color: red;
  height: 25px;
  border-radius: 10%;
  border: 0 solid;
  text-transform: uppercase;
  border-radius: 5px;
 color:white;
 font-weight: bold;
 padding:10px;
 width:100px;
 text-align: center;
 font-size: 15px;
 height: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 letter-spacing: 1px;
 font-family: 'Gruppo', cursive;
 cursor:grab;
}

.btnTwo:Hover {
  border: 1px solid;
  letter-spacing: 2px;
  transition: letter-spacing 1s;
  transition-timing-function: ease-in;
}

.delete-button {
  background-color: red;
  border: 0 solid;
  text-transform: uppercase;
  border-radius: 5px;
 color:white;
 font-weight: bold;
 padding:10px;
 width:120px;
 text-align: center;
 font-size: 15px;
 height: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 letter-spacing: 1px;
 font-family: 'Gruppo', cursive;
 cursor:grab;
}

.delete-button:hover {
  border: 1px solid;
  letter-spacing: 2px;
  transition: letter-spacing 1s;
  transition-timing-function: ease-in;
}

.createpost {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.savePost {
  background-color: #FF78D2;
  border: 0 solid;
  text-transform: uppercase;
  border-radius: 5px;
 color:white;
 font-weight: bold;
 padding:10px;
 width:120px;
 text-align: center;
 font-size: 15px;
 height: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 letter-spacing: 1px;
 font-family: 'Gruppo', cursive;
 cursor:grab;

}

.savePost:hover {
  border: 1px solid;
  letter-spacing: 2px;
  transition: letter-spacing 1s;
  transition-timing-function: ease-in;
}

.editpost h2 {
  margin-top: 100px;
}

.postcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.postbtn1 input{
  background-color: #FF78D2;
  border: 0 solid;
  text-transform: uppercase;
  border-radius: 5px;
 color:white;
 font-weight: bold;
 padding:10px;
 width:120px;
 text-align: center;
 font-size: 15px;
 height: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 letter-spacing: 1px;
 font-family: 'Gruppo', cursive;
 cursor:grab;
}

.postbtn1 input:hover {
  border: 1px solid;
  letter-spacing: 2px;
  transition: letter-spacing 1s;
  transition-timing-function: ease-in;
}

.postbtn1 {
  display:flex;
  justify-content: center;
}

.editpost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deletepost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}