@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.HomePosts{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;


}

.HomePosts:hover {
  opacity: 0.7;

}
.images{
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 200px;
}

img {
  height: 250px;
  width: 200px;
}
.HomePosts p{
  display:inline-block;
  color: #FF78D2;
}
.nav {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    background-color: pink;
    height: 30px;
    position: fixed;
    top: 0px;
    text-decoration: none;
}

.nav p {
  display: inline-block;
  font-family: 'Gruppo', cursive;
  color:black;
  margin-top: 35px;
  font-size: 25px;
  
}

.nav p:hover {
  color:white;
  text-decoration: underline;
}

.nav h1 {
  display: inline-block;
  color:black
}

.nav h1:hover {
  color:white;
}

.showpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showpage h1 {
  margin-top: 100px;
}

.Header h1{
  font-family: 'Sofia', 'cursive';
}

.postBtn {
  background-color: #FF78D2;
  height: 25px;
  border-radius: 10%;

}

.btnOne {
  background-color: #FF78D2;
  border-radius: 10%;
  height: 25px;
  width: 40px
}


.btnTwo {
  background-color: red;
  height: 25px;
  border-radius: 10%;
}

.delete-button {
  background-color: red;
  height: 25px;
  border-radius: 10%;
}

.createpost {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.savePost {
  background-color: #FF78D2;
  height: 25px;
  border-radius: 10%;
}

.postcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.editpost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deletepost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}